html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", Helvetica Neue, sans-serif;

  background-color: #fff;
  font-size: 16px;
  font-size: max(14px, 0.75vw);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  width: 100%;

  @media screen and (max-width: 1300px) {
    font-size: 12px;
  }
}

section {
  max-width: 100%;
  padding: 4rem 0;
  .content {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 90rem;
    padding: 0 2rem;

    &.full {
      margin: auto;
      width: 100%;
      max-width: 100%;
    }
  }

  @media screen and (min-width: 1080px) {
    max-width: 100%;
    padding: 7rem 0;
    .content {
      padding: 0 4rem;
    }
  }
}

.btn {
  display: inline-block;
  font-size: 1.4rem;
  line-height: 3rem;
  font-family: "Trap", "Inter", Helvetica Neue, sans-serif;
  color: #fff;
  background: #373737;
  padding: 0 2rem;
  border-radius: 50px;
  font-weight: 600;
  text-align: center;
  transition: 0.5s ease all;
}

.btn:hover {
  background: #858585;
  cursor: pointer;
}

img {
  user-select: none;
}

textarea,
select,
input {
  -webkit-appearance: none;
  border-radius: 0;
}

form {
  label {
    width: 100%;
    margin-bottom: 1.8rem;

    > span {
      font-weight: bold;
      padding-left: 1.5rem;
    }

    > .alert {
      display: inline-block;
      color: red;
      list-style-type: circle;
      font-weight: 400;
      align-self: start;
      font-size: 0.7rem;
      margin-left: 0.7rem;
    }

    select,
    input {
      margin-top: 0.5rem;
    }
  }

  select,
  textarea,
  input {
    background-color: #eee;
    border: 1px solid #ddd;
    color: #000;
    width: 100%;
    height: auto;
    border-radius: 25px;
    padding: 9px 25px;
    outline: none;
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    line-height: 1.1;
    @media screen and (min-width: 1080px) {
      padding: 1rem 1.5rem;
      font-size: 1.5rem;
    }
  }

  &.cols-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    label {
      @media screen and (min-width: 1080px) {
        width: calc(50% - 1.8rem);
      }
    }
  }

  &.in-popup {
    margin-bottom: 1rem;
    label {
      @media screen and (min-width: 1080px) {
        width: calc(50% - 1rem);
        select,
        textarea,
        input {
          font-size: 1.1rem;
        }
      }
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

address {
  font-style: normal;
}

button,
input[type="submit"],
input[type="reset"] {
  appearance: none;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

h1,
.h2,
h2 {
  font-size: 4rem;
  margin: 0;
  font-family: "Trap", "Inter", Helvetica Neue, sans-serif;
}

h3,
h4,
h5,
h6 {
  font-size: 1.5rem;
  margin: 0;
  font-family: "Trap", "Inter", Helvetica Neue, sans-serif;
}

.trap {
  font-family: "Trap", "Inter", Helvetica Neue, sans-serif;
}

.inter {
  font-family: "Inter", Helvetica Neue, sans-serif;
}

input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.9);
}

input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.9);
}

input::placeholder {
  color: rgba(255, 255, 255, 0.9);
}

@media screen and (max-width: 1080px) {
  h1,
  .h2,
  h2 {
    font-size: 36px;
  }

  h3,
  h4,
  h5,
  h6 {
    font-size: 22px;
  }

  html,
  body {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  h1,
  .h2,
  h2 {
    font-size: 28px;
  }

  h3,
  h4,
  h5,
  h6 {
    font-size: 22px;
  }

  html,
  body {
    font-size: 14px;
  }
}

.scrollmagic-pin-spacer {
  padding: 0 !important;
}
