html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", Helvetica Neue, sans-serif;

  background-color: #f4f3ec;
  font-size: 16px;
  font-size: max(15px, 0.85vw);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  width: 100%;
}

section {
  max-width: 100%;
  padding: 4rem 0;
}

section .content {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 106rem;
  padding: 0 1rem;
}

section .content.full {
  margin: auto;
  width: 100%;
  max-width: 100%;
}

.btn {
  display: inline-block;
  font-size: 1.4rem;
  line-height: 3rem;
  font-family: "Trap", "Inter", Helvetica Neue, sans-serif;
  color: #fff;
  background: #373737;
  padding: 0 2rem;
  border-radius: 50px;
  font-weight: 600;
  min-width: 12rem;
  text-align: center;
  transition: 0.5s ease all;
}

.btn:hover {
  background: #858585;
  cursor: pointer;
}

img {
  user-select: none;
}

textarea,
select,
input {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

address {
  font-style: normal;
}

h1 {
  font-size: 3.25rem;
  margin: 0;
  font-family: "Trap", "Inter", Helvetica Neue, sans-serif;
}

h2 {
  font-size: 3.25rem;
  margin: 0;
  font-family: "Trap", "Inter", Helvetica Neue, sans-serif;
}

h3,
h4,
h5,
h6 {
  font-size: 1.5rem;
  margin: 0;
  font-family: "Trap", "Inter", Helvetica Neue, sans-serif;
}

.trap {
  font-family: "Trap", "Inter", Helvetica Neue, sans-serif;
}

.inter {
  font-family: "Inter", Helvetica Neue, sans-serif;
}

input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.9);
}

input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.9);
}

input::placeholder {
  color: rgba(255, 255, 255, 0.9);
}

@media screen and (min-width: 1080px) {
  section {
    max-width: 100%;
    padding: 6rem 0;
  }

  section .content {
    padding: 0 12rem;
  }
}

@media screen and (max-width: 1080px) {
  h1,
  h2 {
    font-size: 28px;
  }

  h3,
  h4,
  h5,
  h6 {
    font-size: 15px;
  }

  html,
  body {
    font-size: 10px;
  }
}
